TP1/ms-product/.vscode/NEWLY_CREATED_BY_SPRING_INITIALIZR
TP1/ms-product/HELP.md
TP1/ms-product/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
TP1/ms-product/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

# ===== Node =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===== Build / Cache =====
dist/
build/
.cache/
.tmp/

# ===== Environment =====
.env
.env.*
!.env.example

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE / Editor =====
.vscode/
.idea/
*.swp
*.swo

# ===== Coverage =====
coverage/

# ===== Logs =====
logs/
*.log

# ===== Mac =====
.AppleDouble
.LSOverride
